.selectDimych span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px 
}

.selectDimych .items{
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    display: block;

}

.item.selected{
    background-color: blue;
    color: white;
}

